<template name="header">
    <div class="row">
        <nav role="navigation">
          <span class="entypo-menu" id="toggle-menu"></span>  
        <div class="logo">
          财务管理
        </div>
          <ul>
            <li class="has-child"><a href="#">设置</a>
              <ul class="dropdown">
                <li><a href="#">Gather Statistics</a></li>
                <li><a href="#">Social Sharing</a></li>
              </ul>
            </li>
            <li><a href="#">行业分析</a></li>
            <li><a href="#">操作分析</a></li>
            <li><a href="/my-stocks">我的持仓</a></li>
            <li><a href="#">自选股</a></li>
            <li><a href="/">股票监控</a></li>
            <li><a href="#">指数</a></li>
          </ul>
        </nav>  
      </div>
</template>